<!DOCTYPE html>
<html>
<title>C Programming</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Programming Tutorial</a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/c">Home</a></li>
        {% if session.logged_in %}
          <li><a href="/cLanguageAssessment">Take Assessment</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>


<!-- Page Content -->
<div style="margin-left:10%">

<div class="w3-container w3-teal">
  <h1>Assessment</h1>
</div>

<div class="w3-container">
   <table class= "table table-striped">
     <tr>
       <th>ID</th>
       <th>Title</th>
       <th>Category</th>
       <th>Level</th>
       <th>Score</th>
     </tr>
     {% for problemstatement in problemstatements %}
        <tr>
          <td>{{problemstatement.id}}</td>
          <td>{{problemstatement.subject}}</td>
          <td>{{problemstatement.category}}</td>
          <td>{{problemstatement.level}}</td>
          <td>{{problemstatement.score}}</td>
          <td><a href="/solveCproblem/{{problemstatement.id}}" class="btn btn-default pullright">Solve</a></td>
        </tr>

     {% endfor %}
   </table>
</div>
</div>

</body>
</html>
